<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company Jobs Form</title>
</head>
<body>

<h2>Company Jobs Form</h2>

<form th:object="${job}" method="post">
    <input type="hidden" th:field="*{company.id}" th:value="${company}" />
    <select id="externalSkillLevelSelect">
        <script th:inline="javascript">
            var skillLevels = /*[[${T(vn.edu.iuh.fit.www_lab05.backend.enums.SkillLevel).values()}]]*/;
            console.log(skillLevels)
            skillLevels.forEach(function(level) {
                document.write('<option value="' + level + '">' + level + '</option>');
            });
        </script>
    </select>
    <h3>Add Skills:</h3>

    <div class="mb-3" th:each="skill, status : ${job.jobSkills}">
        <select class="form-select" th:field="${skill.skill.type}" id="skillType">

            <option th:each="type : ${type}"
                    th:value="${type}" th:text="${type.name}">
            </option>

        </select>
    </div>
    <div id="skills-container">


    </div>

    <!-- Additional input field outside the skills container -->
    <div class="mb-3">
        <label for="additionalInfo">Additional Info:</label>
        <input type="text" th:field="${job.jobSkills}" id="additionalInfo" placeholder="Enter Additional Info"/>
    </div>

    <button type="button" onclick="addSkill()">Add Skill</button>

    <button type="submit">Save Job</button>
</form>

<script th:inline="javascript">
    function addSkill() {
        var container = document.getElementById('skills-container');
        var newSkillContainer = document.createElement('div');

        var newSkillTypeSelect = document.createElement('select');
        newSkillTypeSelect.setAttribute('class', 'form-select');
        newSkillTypeSelect.setAttribute('name', 'jobSkills[' + container.children.length + '].skill.type');

        var types = /*[[${T(vn.edu.iuh.fit.www_lab05.backend.enums.SkillType).values()}]]*/;

        for (var i = 0; i < types.length; i++) {
            var option = document.createElement('option');
            option.setAttribute('value', types[i]);
            option.text = types[i];
            newSkillTypeSelect.appendChild(option);
        }

        newSkillContainer.appendChild(newSkillTypeSelect);

        var newSkillNameInput = document.createElement('input');
        newSkillNameInput.setAttribute('type', 'text');
        newSkillNameInput.setAttribute('name', 'jobSkills[' + container.children.length + '].skill.skillName');
        newSkillNameInput.setAttribute('placeholder', 'Enter Skill Name');
        newSkillContainer.appendChild(newSkillNameInput);

        var newSkillDes = document.createElement('input');
        newSkillDes.setAttribute('type', 'text');
        newSkillDes.setAttribute('name', 'jobSkills[' + container.children.length + '].skill.skillDescription');
        newSkillDes.setAttribute('placeholder', 'Enter Skill Description');
        newSkillContainer.appendChild(newSkillDes);

        container.appendChild(newSkillContainer);
        skillLevels.forEach(function(level) {
            var option = document.createElement('option');
            option.value = level;
            option.text = level.name;
            newSkillTypeSelect.appendChild(option);
        });
    }
</script>

</body>
</html>
